<template>
    <section if.bind="!appState.jwt" class="home-unauthorized">
        <h1>Welcome to Gifter app!</h1>
        <p>Make wishlists and enjoy stress-free gift exhange</p>
        <p class="text-muted"><i>Please <a route-href="route: accountLogin; params.bind: {}">log in</a> to continue.</i></p>
        <img src="/gift.png"/>
    </section>

    <section if.bind="appState.jwt" class="home-authorized">
        <h1>Welcome back${appState.userFullName ? ', ' + appState.userFullName : ''}!</h1>
        <hr/>
        <section class="notifications">
            [ Notifications ]
        </section>
        <hr/>
        <section class="campaign-ad">
            [ Ad for latest active campaign(s) ]
        </section>
        <hr/>
        <section class="faq">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        ★ What is the purpose of this site?</a>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        The idea of this application is to facilitate the process of gift giving between people. 
                        It is useful for each occasion involving gifts, especially birthdays and holidays such as Christmas. 
                        However, it could be used independent from any holidays in order to pleasantly surprise another person. 
                        The goal is to reduce the stress of wondering what to purchase and prevent purchasing something that the receiver
                        might not like, just for the sake of getting a present. Furthermore, the application will make the user’s life better
                        in the sense that they will be receiving only the things they actually need or want, not something they would have to
                        give away or have it disarray their home. The element of surprise on what they will receive, and from who, will still 
                        be maintained. Another good use of the platform would be the campaigns, for instance during holiday seasons, 
                        which let the users donate gifts to children in need. In summary, everyone has their own profile where they can list 
                        the things they wish to have, with or without gift descriptions, images and URLs to corresponding web shops. 
                        Someone who wishes to give another person a gift can choose something from their list and purchase or make it for them, 
                        while being sure the receiver will be satisfied. There is a feature implemented that will prevent double gifts - 
                        so that multiple people do not plan the same gift for the same person. There is a convenient overview of all the presents
                        the user has decided to make for others as well as other useful features to make gift giving less stressful.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        ★ How to add my gift requests?</a>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>Click "My profile" in the page navigation menu to go to your profile</li>
                            <li>Click "Edit profile" icon next to your name and add info to let others know who you are and what you like!</li>
                            <li>Click "Add new gift" button to insert a new specific gift into your Wishlist</li>
                            &nbsp;
                            <li>Optional: Click "Archive" button near the gift to remove it from the Wishlist</li>
                            <li>Optional: Click "Archive" in the page navigation menu to see the gifts you have archived</li>
                            <li>Optional: Click "Re-activate" button near the archived gift to add it back to Wishlist</li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        ★ How can I find friends?</a>
                    </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>Click "Friends" in the page navigation menu to go to your friendslist</li>
                            <li>Click "Search" button if you want to find people who are not in your friendslist</li>
                            <li>Click "Invite friends" button if you didn't find the person you were searching for</li>
                            <li>Click on a person's name to see their profile and Wishlist</li>
                            &nbsp;
                            <li>Optional: Click "Reserve" button near the gift you want to gift to someone</li>
                            <li>Optional: Click "Cancel" button near the gift if you no more wish to gift something you reserved</li>
                            <li>Optional: Click "Mark gifted" button near the gift after the person has received the gift from you</li>
                            <li>Optional: Click "Add friend" to send a friend request to a person</li>
                            <li>Optional: Click "Unfriend" to remove a person from your friendlist</li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div> 
        </section>
    </section>
</template>