<template>
    <section if.bind="!appState.jwt" class="home-unauthorized">
        <h1>Welcome to GifterApp!</h1>
        <p>Make wishlists and enjoy stress-free gift exhange</p>
        <p class="text-muted"><i>Please <a route-href="route: accountLogin; params.bind: {}">log in</a> to continue.</i></p>
        <img class="welcome-img" src="/images/gift.png"/>
    </section>

    <section if.bind="appState.jwt" class="home-authorized">
        <h1 class="welcome-text">Welcome back${appState.userFullName ? ', ' + appState.userFullName : ''}!</h1>
        <!-- <hr/> -->
        <section class="notifications home">
            <div class="card">[ Notifications ]</div>
        </section>
        <!-- <hr/> -->
        <section class="ads home">
            <div class="card flex flex-row">
                <div class="ad wrapper flex crop-banner-ad">
                    <a href="#" title="Go to campaign"><img class="home campaign-ad flex" src="/images/gifts.png" alt="Ad for latest active campaign(s)"/></a>
                </div>
                <div class="flex flex-column campaign-ad-text">
                    <a href="#" title="Go to campaign"><h2>Campaign advertisement text</h2></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <!-- <div class="ad wrapper flex crop-banner-ad">
                <img class="home campaign-ad flex" src="/gift.png" title="Ad for latest active campaign(s)"/>
            </div> -->
        </section>
        <!-- <hr/> -->
        <section class="feed home">
            <div class="card">[ Feed - friends updates ]</div>
        </section>
        <section class="faq home">
            <!-- <hr/> -->
            <h2>Need help?</h2>
            <div class="panel-group card" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        ★ What is the purpose of this site?</a>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        The idea of this application is to facilitate the process of gift giving between people. 
                        It is useful for each occasion involving gifts, especially birthdays and holidays such as Christmas. 
                        However, it could be used independent from any holidays in order to pleasantly surprise another person. 
                        The goal is to reduce the stress of wondering what to purchase and prevent purchasing something that the receiver
                        might not like, just for the sake of getting a present. Furthermore, the application will make the user’s life better
                        in the sense that they will be receiving only the things they actually need or want, not something they would have to
                        give away or have it disarray their home. The element of surprise on what they will receive, and from who, will still 
                        be maintained. Another good use of the platform would be the campaigns, for instance during holiday seasons, 
                        which let the users donate gifts to children in need. In summary, everyone has their own profile where they can list 
                        the things they wish to have, with or without gift descriptions, images and URLs to corresponding web shops. 
                        Someone who wishes to give another person a gift can choose something from their list and purchase or make it for them, 
                        while being sure the receiver will be satisfied. There is a feature implemented that will prevent double gifts - 
                        so that multiple people do not plan the same gift for the same person. There is a convenient overview of all the presents
                        the user has decided to make for others as well as other useful features to make gift giving less stressful.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        ★ How do I add my gift requests?</a>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>Click "My profile" in the page navigation menu to go to your profile</li>
                            <li>Click "Edit profile" icon next to your name and add info to let others know who you are and what you like!</li>
                            <li>Click "Add new gift" button to insert a new specific gift into your Wishlist</li>
                            &nbsp;
                            <li><i>Optional: Click "Archive" button near the gift to remove it from the Wishlist</i></li>
                            <li><i>Optional: Click "Archive" in the page navigation menu to see the gifts you have archived</i></li>
                            <li><i>Optional: Click "Re-activate" button near the archived gift to add it back to Wishlist</i></li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        ★ How do I find friends?</a>
                    </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>Click "Friends" in the page navigation menu to go to your friendslist</li>
                            <li>Click "Search" button if you want to find people who are not in your friendslist</li>
                            <li>Click "Invite friends" button if you didn't find the person you were searching for</li>
                            <li>Click on a person's name to see their profile and Wishlist</li>
                            &nbsp;
                            <li><i>Optional: Click "Add friend" to send a friend request to a person</i></li>
                            <li><i>Optional: Click "Unfriend" to remove a person from your friendlist</i></li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                          ★ How do I make gifts for others?</a>
                      </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                      <div class="panel-body">
                          <ul>
                            <li>Click "Friends" in the page navigation menu to go to your friendslist</li>
                            <li>Click on a person's name to see their profile and Wishlist</li>
                            &nbsp;
                            <li>Click "Reserve" button near the gift you want to gift to them</li>
                            <li>Go and buy/make their gift and give/send it to them in person!</li>
                            <li>Click "Mark gifted" button near the gift after the person has received the gift from you</li>
                            &nbsp;
                            <li><i>Optional: Click "Cancel" button near the gift if you no more wish to gift something you reserved</i></li>
                            <li><i>Optional: Click "Archive" button in the navigation menu to see already gifted gifts</i></li>
                          </ul>
                      </div>
                    </div>
                  </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                          ★ How do I become a Campaign Manager?</a>
                      </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Contact the site owner to request the Campaign Manager role.</p>
                        <p>Please provide the following information with your e-mail:</p>
                        <ul>
                            <li>Your contact information to verify identity</li>
                            <li>What institution you are representing or collaborating with, if any</li>
                            <li>Description(s) of the planned campaign(s)</li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </div> 
        </section>
    </section>
</template>
