<template>
    <h1>Campaigns</h1>
    <p>
        List of all the currently active donation campaigns. 
    </p>
    <p>
        <a route-href="route: campaignsPersonal; params.bind: {}">My campaigns</a> 
    </p>
    <p if.bind="_errorMessage" class="errormessage">${_errorMessage}</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    AdImage
                </th>
                <th>
                    Institution
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    Donatees
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="campaign of _campaigns">
                <td>
                    ${campaign.name}
                </td>
                <td>
                    ${campaign.description}
                </td>
                <td>
                    ${campaign.adImage}
                </td>
                <td>
                    ${campaign.institution}
                </td>
                <td>
                    ${campaign.activeFromDate}
                </td>
                <td>
                    ${campaign.activeToDate}
                </td>
                <td>
                    <a route-href="route: donateesIndex; params.bind: { campaignId: campaign.id, campaignName: campaign.name }">${campaign.campaignDonateesCount}</a>
                </td>
            </tr>
        </tbody>
    </table>
</template>