<template>
    <section class="reserved-gifts">
        <section class="intro">
            <h1>Reserved gifts</h1>
            <div>
                <p>Other users' gifts that you have reserved. Buy these and gift to people who requested them!</p>
                <p><i><strong>Note:</strong> In case you changed your mind please "Cancel" the reservation so someone
                        else can gift it to the person instead.</i></p>
            </div>
            <p if.bind="_errorMessage" class="errormessage">${_errorMessage}</p>
        </section>
    </section>
    <section class="my-reserved-gifts card">
        <h2>By me</h2>
        <p if.bind="_noReservationsMessage" class="text-muted">${_noReservationsMessage}</p>
        <table if.bind="_reservedGifts.length" class="table">
            <thead>
                <tr>
                    <th>
                        For
                    </th>
                    <th>
                        Reserved
                    </th>
                    <th>
                        Gift
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Url
                    </th>
                    <th>
                        PartnerUrl
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="reservedGift of _reservedGifts">
                    <td>
                        <a route-href="route: profilesIndex; params.bind: { userId: reservedGift.userReceiverId }" title="Go to profile">
                            ${reservedGift.userReceiverName}
                        </a>
                    </td>
                    <td>
                        ${reservedGift.reservedFrom}
                    </td>
                    <td>
                        ${reservedGift.name}
                    </td>
                    <td>
                        ${reservedGift.description}
                    </td>
                    <td>
                        ${reservedGift.image}
                    </td>
                    <td>
                        ${reservedGift.url}
                    </td>
                    <td>
                        ${reservedGift.partnerUrl}
                    </td>
                    <td class="flex icon-group">
                        <p class="flex-column reserved-actions">
                            <a click.delegate="onMarkAsGifted($event, reservedGift)" href="#" title="Mark as gifted"
                                class="flex-column icon-container">
                                <img src="/icons/icon-mark-gifted-grey-8.png" class="icon" alt="Mark as gifted" /></a>
                            <a click.delegate="onCancelReservation($event, reservedGift)" href="#" title="Cancel reservation"
                                class="flex-column icon-container">
                                <img src="/icons/icon-cancel-grey-8.png" class="icon" alt="Cancel reservation" /></a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</template>