<template>
  <h1>About site</h1>
  <hr>
  <p>The idea of this application is to ease the process of gift giving between people. </p>
    <p>You see exactly what others want, no more wondering what to get – enjoy the stress-free birthdays and holidays! </p>
  <ul>
    <li>
        <a class="nav-link" route-href="route: aboutHelp; params.bind: {}">Help section</a>
    </li>
    <li>
        <a class="nav-link" route-href="route: search; params.bind: {}">Search users</a>
    </li>
    <!-- <li>
        <a class="nav-link" href="#" click.delegate="onToggleTheme($event)">Toggle theme (dark vs light)</a>
    </li> -->
    <li>
        <a class="nav-link" route-href="route: aboutContacts; params.bind: {}">Site contacts</a>
    </li>
  </ul>
</template>
