<template>
    <section id="searchpage">
        <h1>Search users</h1>
        <!-- <hr> -->
        <form submit.trigger="onSubmit($event)">
            <input type="text" class="search-input" title="Search users" value.bind="_searchInput" placeholder="Name"/>
            <input type="submit" value="Search" class="search-button icon"/>
        </form>
        <p if.bind="_errorMessage" class="errormessage">${_errorMessage}</p>
    </section>
    <section if.bind="_users.length > 0" class="search-results card">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Name
                    </th>
                    <th>
                        E-mail
                    </th>
                    <th>
                        Last active
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="user of _users">
                    <td if.bind="!user.profilePicture">
                        <img class="profile-picture icon" src="/icons/icon-dp-unisex-colorful.png"/>
                    </td>
                    <td if.bind="user.profilePicture">                        
                        <img src="${user.profilePicture}" class="profile-picture icon"/>
                    </td>
                    <td>
                        ${user.fullName}
                    </td>
                    <td>
                        ${user.userName}
                    </td>
                    <td>
                        ${user.lastActive}
                    </td>
                    <td class="flex">      
                        <!-- <a route-href="route: profilesIndex; params.bind: { userId: user.id }" class="button">Go to profile</a> -->
                        <a route-href="route: profilesIndex; params.bind: { userId: user.id }" title="Go to profile"><img src="/icons/icon-open-grey-m.png" class="icon" alt="Go to profile"/></a>
                        <a if.bind="!_isFriend" href="#" click.delegate="addFriend($event, user.id)" title="Add friend"><img src="/icons/icon-add-friend-grey-m.png" class="icon" alt="Add friend"/></a> 
                        <!-- click.delegate="addFriend(user.id)"         -->
                        <a if.bind="_isFriend" route-href="route: friendshipsDelete; params.bind: { id: user.id }" title="Unfriend"><img src="/icons/icon-delete-grey-m.png" class="icon" alt="Unfriend"/></a> 
                        <!-- click.delegate="unFriend(user.id)"         -->
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</template>