<template>
    <section>
        <h1>Search</h1>
        <form submit.trigger="onSubmit($event)">
            <input class="search-input" title="Search users" value.bind="_searchInput"/>
            <input type="submit" value="Search" class="search-button button" />
        </form>
        <p if.bind="_errorMessage" class="errormessage">${_errorMessage}</p>
    </section>
    <section if.bind="_users">
        <table class="table">
            <thead>
            </thead>
            <tbody>
                <tr repeat.for="user of _users">
                    <td>
                        <img src="#" class="profile-picture icon"/>
                    </td>
                    <td>
                        ${user.fullName}
                    </td>
                    <td>
                        ${user.userName}
                    </td>
                    <td>
                        ${user.lastActive}
                    </td>
                    <td class="flex">      
                        <a route-href="route: profilesIndex; params.bind: { id: user.id }" class="button">Go to profile</a>
                        <a if.bind="!_isFriend"te-href="route: friendshipsCreate; params.bind: { id: user.id }" class="button">Add friend</a>        
                        <a if.bind="_isFriend"te-href="route: friendshipsCreate; params.bind: { id: user.id }" class="button">Unfriend</a>  
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</template>
