<template>
    <p if.bind="_errorMessage" class="errormessage">${_errorMessage}</p>
    <section if.bind="!_errorMessage">
        <h1>Details</h1>

        <div>
            <h4>InvitedUser</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    Email
                </dt>
                <dd class = "col-sm-10">
                    ${_invitedUser.email}
                </dd>
                <dt class = "col-sm-2">
                    PhoneNumber
                </dt>
                <dd class = "col-sm-10">
                    ${_invitedUser.phoneNumber}
                </dd>
                <dt class = "col-sm-2">
                    Message
                </dt>
                <dd class = "col-sm-10">
                    ${_invitedUser.message}
                </dd>
                <dt class = "col-sm-2">
                    DateInvited
                </dt>
                <dd class = "col-sm-10">
                    ${_invitedUser.dateInvited}
                </dd>
                <dt class = "col-sm-2">
                    HasJoined
                </dt>
                <dd class = "col-sm-10">
                    ${_invitedUser.hasJoined}
                </dd>
                <dt class = "col-sm-2">
                    InvitorUser
                </dt>
                <dd class = "col-sm-10">
                    ${_invitedUser.invitorUser.fullName} (${_invitedUser.invitorUser.id})
                </dd>
            </dl>
        </div>
        <div>
            <a route-href="route: invitedusersEdit; params.bind: { id: _invitedUser.id }">Edit</a> |
            <a route-href="route: invitedusersIndex; params.bind: {}">Back to list</a>
        </div>
    </section>
</template>
