<template>
    <p if.bind="_errorMessage" class="errormessage">${_errorMessage}</p>
    <section>
        <h1>Edit</h1>

        <h4>InvitedUser</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form submit.trigger="onSubmit($event)">
                    <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                        <ul>
                            <li style="display:none"></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Email">Email *</label>
                        <input class="form-control" type="email" data-val="true"
                            data-val-maxlength="The field Email must be a string or array type with a maximum length of &#x27;128&#x27;."
                            data-val-maxlength-max="128"
                            data-val-minlength="The field Email must be a string or array type with a minimum length of &#x27;3&#x27;."
                            data-val-minlength-min="3" data-val-required="The Email field is required." id="Email"
                            maxlength="128" name="Email" value.bind="_invitedUser.email" />
                        <span class="text-danger field-validation-valid" data-valmsg-for="Email"
                            data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="PhoneNumber">PhoneNumber</label>
                        <input class="form-control" type="number" data-val="true"
                            data-val-maxlength="The field PhoneNumber must be a string or array type with a maximum length of &#x27;32&#x27;."
                            data-val-maxlength-max="32"
                            data-val-minlength="The field PhoneNumber must be a string or array type with a minimum length of &#x27;5&#x27;."
                            data-val-minlength-min="5" id="PhoneNumber" maxlength="32" name="PhoneNumber"
                            value.bind="_invitedUser.phoneNumber" />
                        <span class="text-danger field-validation-valid" data-valmsg-for="PhoneNumber"
                            data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Message">Message</label>
                        <input class="form-control" type="text" data-val="true"
                            data-val-maxlength="The field Message must be a string or array type with a maximum length of &#x27;1024&#x27;."
                            data-val-maxlength-max="1024"
                            data-val-minlength="The field Message must be a string or array type with a minimum length of &#x27;3&#x27;."
                            data-val-minlength-min="3" id="Message" maxlength="1024" name="Message"
                            value.bind="_invitedUser.message" />
                        <span class="text-danger field-validation-valid" data-valmsg-for="Message"
                            data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a route-href="route: invitedusersIndex; params.bind: {}">Back to list</a>
        </div>
    </section>
</template>
