<template>
    <p if.bind="_errorMessage" class="errormessage">${_errorMessage}</p>
    <section>
        <h1>InvitedUsers</h1>

        <p>
            <a route-href="route: invitedusersCreate; params.bind: {}">Create new</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        PhoneNumber
                    </th>
                    <th>
                        DateInvited
                    </th>
                    <th>
                        HasJoined
                    </th>
                    <th>
                        Message 
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="invitedUser of _invitedUsers">
                    <td>
                        ${invitedUser.email}
                    </td>
                    <td>
                        ${invitedUser.phoneNumber}
                    </td>
                    <td>
                        ${invitedUser.dateInvited}
                    </td>
                    <td>
                        ${invitedUser.hasJoined}
                    </td>
                    <td>
                        ${invitedUser.message}
                    </td>
                    <td>
                        <a route-href="route: invitedusersEdit; params.bind: { id: invitedUser.id }">Edit</a> |
                        <a route-href="route: invitedusersDetails; params.bind: { id: invitedUser.id }">Details</a> |
                        <a route-href="route: invitedusersDelete; params.bind: { id: invitedUser.id }">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</template>
