<template>
    <section>
        <h1>My invited users</h1>
        <p>
            <a route-href="route: invitedusersCreate; params.bind: {}" class="button">Invite a friend</a>
        </p>
        <p if.bind="_errorMessage" class="text-muted">${_errorMessage}</p>
    </section>
    <section if.bind="_invitedUsers.length" class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Phonenumber
                    </th>
                    <th>
                        Date invited
                    </th>
                    <th>
                        Has joined
                    </th>
                    <th>
                        Message 
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="invitedUser of _invitedUsers">
                    <td>
                        ${invitedUser.email}
                    </td>
                    <td>
                        ${invitedUser.phoneNumber}
                    </td>
                    <td>
                        ${invitedUser.dateInvited}
                    </td>
                    <td class="${invitedUser.hasJoined ? 'successmessage' : 'errormessage'}">
                        ${invitedUser.hasJoined ? '✓' : '✗'}
                    </td>
                    <td>
                        ${invitedUser.message}
                    </td>
                    <td class="flex">
                        <a route-href="route: invitedusersEdit; params.bind: { id: invitedUser.id }" class="flex-column" title="Edit"><img src="/icons/icon-edit-grey-m.png" class="icon" alt="Edit"/></a>
                        <a route-href="route: invitedusersDelete; params.bind: { id: invitedUser.id }" class="flex-column" title="Delete"><img src="/icons/icon-delete-grey-m.png" class="icon" alt="Delete"/></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <a route-href="route: friendshipsIndex; params.bind: {}">Back to friends</a>
</template>
