<template>
    <h1>Pending friend requests</h1>
    <p if.bind="_errorMessage" class="errormessage">${_errorMessage}</p>
    <p if.bind="_successMessage" class="successmessage">${_successMessage}</p>
    <p if.bind="_noPendingFriendships" class="text-muted">${_noPendingFriendshipsMessage}</p>
    <section if.bind="_pendingReceivedFriendships" class="card">
        <h2>Received</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Last active
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="recFriend of _pendingReceivedFriendships">
                    <td>
                        ${recFriend.name}
                    </td>
                    <td>
                        ${recFriend.lastActive}
                    </td>
                    <td class="flex icon-group">
                        <a route-href="route: profilesIndex; params.bind: { userId: recFriend.appUser2Id }" title="Go to profile"><img src="/icons/icon-open-grey-m.png" class="icon" alt="Go to profile"/></a>
                        <a href="#" click.delegate="onAcceptFriend($event, recFriend.appUser2Id)" class="button">Accept</a>
                        <a href="#" click.delegate="onDeclineFriend($event, recFriend.appUser2Id)" class="button">Decline</a> 
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <section if.bind="_pendingSentFriendships" class="card">
        <h2>Sent</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Last active
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="sentFriend of _pendingSentFriendships">
                    <td>
                        ${sentFriend.name}
                    </td>
                    <td>
                        ${sentFriend.lastActive}
                    </td>
                    <td class="flex icon-group">
                        <a route-href="route: profilesIndex; params.bind: { userId: sentFriend.appUser2Id }" title="Go to profile"><img src="/icons/icon-open-grey-m.png" class="icon" alt="Go to profile"/></a>
                        <a href="#" click.delegate="onDeclineFriend($event, sentFriend.appUser2Id)" class="button">Cancel</a> 
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <a route-href="route: friendshipsIndex; params.bind: {}">Back to friends</a>
</template>