<template>
    <p if.bind="_errorMessage" class="errormessage">${_errorMessage}</p>
    <section if.bind="_isAdmin">
        <h1>ActionTypes</h1>

        <p>
            <a route-href="route: actiontypesCreate; params.bind: {}">Create new</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ActionTypeValue
                    </th>
                    <th>
                        Comment
                    </th>
                    <th>
                        GiftsCount
                    </th>
                    <th>
                        ReservedGiftsCount
                    </th>
                    <th>
                        ArchivedGiftsCount
                    </th>
                    <th>
                        DonateesCount 
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="actionType of _actionTypes">
                    <td>
                        ${actionType.actionTypeValue}
                    </td>
                    <td>
                        ${actionType.comment}
                    </td>
                    <td>
                        ${actionType.giftsCount}
                    </td>
                    <td>
                        ${actionType.reservedGiftsCount}
                    </td>
                    <td>
                        ${actionType.archivedGiftsCount}
                    </td>
                    <td>
                        ${actionType.donateesCount}
                    </td>
                    <td>
                        <a route-href="route: actiontypesEdit; params.bind: { id: actionType.id }">Edit</a> |
                        <a route-href="route: actiontypesDetails; params.bind: { id: actionType.id }">Details</a> |
                        <a route-href="route: actiontypesDelete; params.bind: { id: actionType.id }">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</template>
