<template>
    <section if.bind="!appState.jwt" class="home-unauthorized">
        <h1>Welcome to Exam app!</h1>
        <p class="text-muted"><i>Please <a route-href="route: accountLogin; params.bind: {}">log in</a> to continue.</i></p>
    </section>

    <section if.bind="appState.jwt" class="home-authorized">
        <p class="text-muted icon-group">Welcome back, ${_userFullName}!</p>    
        <section class="quiz-stats home">
            <h1>Quiz reports</h1>
            <p if.bind="_noQuizzesMessage" class="text-muted">${_noQuizzesMessage}</p>
            <div if.bind="_quizzes.length" class="panel-group" id="accordion">
                <div repeat.for="quiz of _quizzes" class="panel panel-default card">
                    <div class="flex flex-row flex-space-btwn">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#id-${quiz.id}" click.delegate="onQuizClick($event, quiz.id)">
                                ★ ${quiz.name}
                            </a> 
                        </h3>
                        <p class="text-muted panel-title">${quiz.description}</p>
                    </div>
           
         <div id="id-${quiz.id}" class="panel-collapse collapse in">
                      <div class="panel-body">
                          <div repeat.for="question of _quizReports[quiz.id].reportQuestions" class="question-stats">
                            <hr>
                              <p class="purple"><strong>${question.name}</strong></p>
                              <p repeat.for="answer of question.reportAnswers">
                                ${answer.responseCount} - ${answer.name} <span if.bind="answer.isCorrect" class="successmessage">&nbsp;✓</span>
                              </p>
                            </div>
                            <hr>
                            <p class="text-muted">Total responses: ${_quizReports[quiz.id].totalResponseCount}</p>
                            <a route-href="route: quizzesDetails; params.bind: { id: quiz.id }" class="button to-quiz">Answer quiz</a> 
                      </div>
                    </div>
                  </div>
              </div> 
        </section>
    </section>
</template>
