<template>
    <p if.bind="_errorMessage" class="errormessage">${_errorMessage}</p>
    <section if.bind="_isAdmin">
        <h1>Index</h1>

        <p>
            <a route-href="route: statusesCreate; params.bind: {}">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        StatusValue
                    </th>
                    <th>
                        Comment
                    </th>
                    <th>
                        GiftsCount
                    </th>
                    <th>
                        ReservedGiftsCount
                    </th>
                    <th>
                        ArchivedGiftsCount
                    </th>
                    <th>
                        DonateesCount 
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="status of _statuses">
                    <td>
                        ${status.statusValue}
                    </td>
                    <td>
                        ${status.comment}
                    </td>
                    <td>
                        ${status.giftsCount}
                    </td>
                    <td>
                        ${status.reservedGiftsCount}
                    </td>
                    <td>
                        ${status.archivedGiftsCount}
                    </td>
                    <td>
                        ${status.donateesCount}
                    </td>
                    <td>
                        <a route-href="route: statusesEdit; params.bind: { id: status.id }">Edit</a> |
                        <a route-href="route: statusesDetails; params.bind: { id: status.id }">Details</a> |
                        <a route-href="route: statusesDelete; params.bind: { id: status.id }">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</template>
