<template>
    <h1>Edit profile</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <p if.bind="_errorMessage" class="errormessage">${_errorMessage}</p>
            <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                    <label class="control-label" for="UserName">Username *</label>
                    <input class="form-control" type="text" data-val="true"
                        data-val-maxlength="The field UserName must be a string or array type with a maximum length of &#x27;256&#x27;."
                        data-val-maxlength-max="256"
                        data-val-minlength="The field UserName must be a string or array type with a minimum length of &#x27;1&#x27;."
                        data-val-minlength-min="1" id="UserName" maxlength="256" name="UserName" value.bind="_appUser.userName"/>
                    <span class="text-danger field-validation-valid" data-valmsg-for="UserName"
                        data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Email">Email *</label>
                    <input class="form-control" type="text" data-val="true"
                        data-val-maxlength="The field Email must be a string or array type with a maximum length of &#x27;256&#x27;."
                        data-val-maxlength-max="256"
                        data-val-minlength="The field Email must be a string or array type with a minimum length of &#x27;1&#x27;."
                        data-val-minlength-min="1" id="Email" maxlength="256" name="Email" value.bind="_appUser.email" disabled/>
                    <span class="text-danger field-validation-valid" data-valmsg-for="Email"
                        data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="FirstName">First name *</label>
                    <input class="form-control" type="text" data-val="true"
                        data-val-maxlength="The field FirstName must be a string or array type with a maximum length of &#x27;256&#x27;."
                        data-val-maxlength-max="256"
                        data-val-minlength="The field FirstName must be a string or array type with a minimum length of &#x27;1&#x27;."
                        data-val-minlength-min="1" id="FirstName" maxlength="256" name="FirstName" value.bind="_appUser.firstName" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="FirstName"
                        data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="LastName">Last name *</label>
                    <input class="form-control" type="text" data-val="true"
                        data-val-maxlength="The field LastName must be a string or array type with a maximum length of &#x27;256&#x27;."
                        data-val-maxlength-max="256"
                        data-val-minlength="The field LastName must be a string or array type with a minimum length of &#x27;1&#x27;."
                        data-val-minlength-min="1" id="LastName" maxlength="256" name="LastName" value.bind="_appUser.lastName" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="LastName"
                        data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Age">Age</label>
                    <input class="form-control" type="number" id="Age" name="Age" value.bind="_profile.age" max="150" min="1"/>
                    <span class="text-danger field-validation-valid" data-valmsg-for="Age"
                        data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <p class="control-label">Gender</p>
                    <div class="flex">
                        <div class="flex" repeat.for="gender of _genders">
                            <input id="${gender.name}" type="radio" name="gender" model.bind="gender.name" checked.bind="_selectedGender"/>
                            <label for="${gender.name}">${gender.name}</label>
                        </div>
                        <!-- <div class="flex">
                            <input type="radio" id="male" name="gender" value="male" model.bind="male" checked.bind="_profile.gender">
                            <label for="male">Male</label><br>
                        </div>
                        <div class="flex">
                            <input type="radio" id="female" name="gender" value="female" model.bind="female" checked.bind="_profile.gender">
                            <label for="female">Female</label><br>
                        </div>
                        <div class="flex">
                            <input type="radio" id="non-binary" name="gender" value="non-binary" model.bind="non-binary" checked.bind="_profile.gender">
                            <label for="non-binary">Non-binary</label>
                        </div> -->
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Bio">Bio</label>
                    <textarea class="form-control" data-val="true"
                        data-val-maxlength="The field Bio must be a string or array type with a maximum length of &#x27;512&#x27;."
                        data-val-maxlength-max="512"
                        data-val-minlength="The field Bio must be a string or array type with a minimum length of &#x27;1&#x27;."
                        data-val-minlength-min="1" id="Bio" maxlength="512" name="Bio" placeholder="Write a short description about yourself and what you like" 
                        value.bind="_profile.bio"></textarea>
                    <span class="text-danger field-validation-valid" data-valmsg-for="Bio"
                        data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="ProfilePictureUrl">Profile picture</label>
                    <input class="form-control" type="text" data-val="true"
                        data-val-maxlength="The field ProfilePictureUrl must be a string or array type with a maximum length of &#x27;2048&#x27;."
                        data-val-maxlength-max="2048"
                        data-val-minlength="The field ProfilePictureUrl must be a string or array type with a minimum length of &#x27;3&#x27;."
                        data-val-minlength-min="3" id="ProfilePictureUrl" maxlength="2048" name="ProfilePictureUrl" placeholder="URL"
                        value.bind="_profile.profilePicture" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="ProfilePictureUrl"
                        data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="ProfileBannerUrl">Banner picture</label>
                    <input class="form-control" type="text" data-val="true"
                        data-val-maxlength="The field ProfileBannerUrl must be a string or array type with a maximum length of &#x27;2048&#x27;."
                        data-val-maxlength-max="2048"
                        data-val-minlength="The field ProfileBannerUrl must be a string or array type with a minimum length of &#x27;3&#x27;."
                        data-val-minlength-min="3" id="ProfileBannerUrl" maxlength="2048" name="ProfileBannerUrl" placeholder="URL"
                        value.bind="_profileBannerUrl" disabled />
                    <span class="text-danger field-validation-valid" data-valmsg-for="ProfileBannerUrl"
                        data-valmsg-replace="true"></span>
                </div>
                <div class="form-group form-check">
                    <input id="showEmail" class="form-check-input" type="checkbox" data-val="true"
                    data-val-required="The showEmail field is required." name="showEmail"
                    value="true" checked.bind="_showEmail" />
                    <label for="showEmail" class="form-check-label">
                        Show e-mail
                    </label>
                </div>
                <div class="form-group form-check">
                    <input id="IsPrivate" class="form-check-input" type="checkbox" data-val="true"
                    data-val-required="The IsPrivate field is required." name="IsPrivate"
                    value="true" checked.bind="_profile.isPrivate" disabled />
                    <label for="IsPrivate" class="form-check-label">
                        Make private (only friends can see)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="button" />
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div>
        <a route-href="route: profilesPersonal; params.bind: {}">Back to profile</a>
    </div>
</template>