<template>
    <section>
        <div class="flex">
            <h1 class="flex-column">Name (username)</h1> 
            <a route-href="route: profilesEdit; params.bind: {}" class="flex-column icon">Edit profile info</a>
        </div>
        <p>Last active date</p>
        <div class="flex">
            <div class="flex-column profile-pic"><a href="#" title="Change profile picture"><img src="#"/></a></div>
            <div class="flex flex-column">    
                <div class="flex">
                    <div class="flex-column">Full name</div><div class="separator">|</div> 
                    <div class="flex-column">Age</div> <div class="separator">|</div> 
                    <div class="flex-column">Gender</div>
                </div>
                <div>
                    Bio / description
                </div>
            </div>
        </div>
    </section>

    <section>
        <h2>Wishlist</h2>
        <p>
            <a route-href="route: giftsIndex; params.bind: {}" class="button">Add new gift</a> 
        </p>
        <p if.bind="_errorMessage" class="errormessage">${_errorMessage}</p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Link to shop
                    </th>
                    <th>
                        Link to partner
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Example name
                    </td>
                    <td>
                        Example description
                    </td>
                    <td>
                        Example image url
                    </td>
                    <td>
                        Example shop url
                    </td>
                    <td>
                        Example partner url
                    </td>
                    <td>
                        <a route-href="route: giftsEdit; params.bind: {}" class="button">Edit</a>
                        <a href="#" class="button">Pin</a>
                        <a route-href="route: archivedgiftsIndex; params.bind: {}" class="button">Archive</a> 
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</template>