<template>
    <section if.bind="_profile" class="profile flex">
        <section class="profile-info flex-column">
            <div class="flex middle profile-heading">
                <h1 if.bind="_profile.appUser.firstName || _profile.appUser.userName"class="flex-column">
                    ${_profile.appUser.firstName ? _profile.appUser.firstName : ''} 
                    (${_profile.appUser.userName ? _profile.appUser.userName : ''})
                </h1> 
                <a route-href="route: profilesEdit; params.bind: { id: _profile.id }" class="flex-column" title="Edit profile"><img src="/icon-settings.png" class="icon"/></a>
            </div>
            <p if.bind="_errorMessage" class="errormessage">${_errorMessage}</p>
            <p if.bind="_lastActiveDate" class="date">Last active: ${_lastActiveDate}</p>
            <div class="flex">
                <div class="flex-column profile-pic">
                    <a href="#" title="Change profile picture">
                        <img class="img-profile" src="#"/>
                    </a>
                </div>
                <div class="flex flex-column">    
                    <div class="flex">
                        <div if.bind="_profile.appUser.fullName" class="flex-column">${_profile.appUser.fullName}</div>
                        <div if.bind="_profile.age"class="separator">|</div> 
                        <div if.bind="_profile.age" class="flex-column">${_profile.age}</div> 
                        <div if.bind="_profile.gender" class="separator">|</div> 
                        <div if.bind="_profile.gender" class="flex-column">${_profile.gender}</div>
                    </div>
                    <p>
                        ${_profile.bio}
                    </p>
                </div>
            </div>
        </section>

        <section class="profile-wishlist flex-column" if.bind="_profile.wishlist">
            <h2>Wishlist</h2>
            <p>               
                ${_profile.wishlist.comment}
            </p>
            <p>
                <a route-href="route: giftsCreate; params.bind: { wishlistId: _profile.wishlistId }" class="button">Add new gift</a> 
            </p>
            <table class="table wishlist-gifts" if.bind="_gifts.length > 0">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Link to shop
                        </th>
                        <th>
                            Link to partner
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody if.bind="_gifts">
                    <tr repeat.for="gift of _gifts">
                        <td>
                            ${gift.name || '-'}
                        </td>
                        <td>
                            ${gift.description || '-'}
                        </td>
                        <td>
                            ${gift.imageUrl || '-'}
                        </td>
                        <td>
                            ${gift.url || '-'}
                        </td>
                        <td>
                            ${gift.partnerUrl || '-'}
                        </td>
                        <td class="flex">
                            <a route-href="route: giftsEdit; params.bind: { id: gift.id }" class="button flex-column">Edit</a>
                            <a href="#" class="button flex-column">Pin</a>
                            <a class="button flex-column">Archive</a> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</template>
