@model Domain.App.ReservedGift

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ReservedGift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReservedFrom" class="control-label"></label>
                <input asp-for="ReservedFrom" class="form-control" />
                <span asp-validation-for="ReservedFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiftId" class="control-label"></label>
                <select asp-for="GiftId" class="form-control" asp-items="ViewBag.GiftId"></select>
                <span asp-validation-for="GiftId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionTypeId" class="control-label"></label>
                <select asp-for="ActionTypeId" class="form-control" asp-items="ViewBag.ActionTypeId"></select>
                <span asp-validation-for="ActionTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserGiverId" class="control-label"></label>
                <select asp-for="UserGiverId" class="form-control" asp-items="ViewBag.UserGiverId"></select>
                <span asp-validation-for="UserGiverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserReceiverId" class="control-label"></label>
                <select asp-for="UserReceiverId" class="form-control" asp-items="ViewBag.UserReceiverId"></select>
                <span asp-validation-for="UserReceiverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUserId" class="control-label"></label>
                <select asp-for="AppUserId" class="form-control" asp-items="ViewBag.AppUserId"></select>
                <span asp-validation-for="AppUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditedBy" class="control-label"></label>
                <input asp-for="EditedBy" class="form-control" />
                <span asp-validation-for="EditedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditedAt" class="control-label"></label>
                <input asp-for="EditedAt" class="form-control" />
                <span asp-validation-for="EditedAt" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
