<!-- <template>
    <h1>Gifts</h1>

    <p>
        <a route-href="route: giftsCreate; params.bind: {}">Create new</a>      
    </p>
    <p if.bind="_errorMessage" class="errormessage">${_errorMessage}</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Image
                </th>
                <th>
                    Url
                </th>
                <th>
                    PartnerUrl
                </th>
                <th>
                    IsPartnered
                </th>
                <th>
                    IsPinned
                </th>
                <th>
                    ActionType
                </th>
                <th>
                    AppUser
                </th>
                <th>
                    Status
                </th>
                <th>
                    WishlistsCount
                </th>
                <th>
                    ReservedGiftsCount
                </th>
                <th>
                    ArchivedGiftsCount
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="gift of _gifts">
                <td>
                    ${gift.name}
                </td>
                <td>
                    ${gift.description}
                </td>
                <td>
                    ${gift.image}
                </td>
                <td>
                    ${gift.url}
                </td>
                <td>
                    ${gift.partnerUrl}
                </td>
                <td>
                    <input class="check-box" disabled="disabled" type="checkbox" checked.bind="gift.isPartnered"/>
                </td>
                <td>
                    <input class="check-box" disabled="disabled" type="checkbox" checked.bind="gift.isPinned" />
                </td>
                <td>
                    ${gift.actionType.actionTypeValue}
                </td>
                <td>
                    ${gift.appUser.fullName} (${gift.appUser.id})
                </td>
                <td>
                    ${gift.status.statusValue}
                </td>
                <td>
                    ${gift.wishlist.id}
                </td>
                <td>
                    ${gift.reservedGiftsCount}
                </td>
                <td>
                    ${gift.archivedGiftsCount}
                </td>
                <td>
                    <a route-href="route: giftsEdit; params.bind: { id: gift.id }">Edit</a> |        
                    <a route-href="route: giftsDetails; params.bind: { id: gift.id }">Details</a> |
                    <a route-href="route: giftsDelete; params.bind: { id: gift.id }">Delete</a> |        
                </td>
            </tr>
        </tbody>
    </table>
</template> -->