<template>
    <p if.bind="_errorMessage" class="errormessage">${_errorMessage}</p>
    <section>
        <h1>All wishlists</h1>
        <p>
            <a route-href="route: wishlistsPersonal; params.bind: {}">My wishlists</a> 
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Comment
                    </th>
                    <th>
                        AppUser
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="wishlist of _wishlists">
                    <td>
                        ${wishlist.comment}
                    </td>
                    <td>
                        ${wishlist.appUser.fullName} (${wishlist.appUser.id})
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</template>
