/* TODO: Remove all "important" and do the overwriting properly */

.errormessage {
    color: #e57373 !important;
}

.successmessage {
    color: #388E3C !important;
    /* #4CAF50, #388E3C */
}

a.navbar-brand {
    word-break: normal !important;
}


/* Show labels in one line, no wrapping */

th {
    overflow: hidden;
    white-space: nowrap;
}

.button {
    white-space: nowrap;
}


/* */

ul.navbar-nav {
    flex-wrap: wrap;
}

ul.navbar-nav.account {
    flex-wrap: nowrap;
}

.panel-title a {
    color: white !important;
    /* color: #9FA8DA; */
    /* Make the whole panel clickable */
    display: block;
    width: 100%;
}

.panel-title {
    font-size: 1.2rem;
    padding: 10px;
}

.panel-title a:hover {
    text-decoration: none;
}

.panel-heading {
    /* background-color: #EEEEEE; */
    background-color: #9FA8DA;
    /* background-color: #C5CAE9; */
    height: 3rem;
    border-bottom: 2px solid white;
    margin-bottom: 0.5%;
}

.panel-body {
    padding: 10px 20px 20px 20px;
}

.container.body {
    padding-bottom: 5%;
}

.form-group>input[type="submit"] {
    width: 100%;
    margin-top: 5%;
}

a {
    color: #5C6BC0 !important;
}

h1 {
    font-size: 2rem;
    padding-bottom: 5px;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 5px;
}

h3 {
    font-size: 1rem;
    padding-bottom: 5px;
}

section.home {
    padding: 0.4rem 0;
}

.welcome-text {
    padding-bottom: 1rem;
}

.profile-wishlist {
    margin-top: -17px;
}

.navbar {
    z-index: 9999;
}


/* section.faq {
    margin: 3% 0;
} */

.icon {
    margin: 0 5px 5px 5px;
    max-width: 35px;
    padding: 5px;
    cursor: pointer;
}

h1.username {
    margin: 10px 0 0 0;
    padding: 0;
}

.crop-banner-profile {
    display: block;
    height: 250px;
    width: 750px;
    position: relative;
    overflow: hidden;
    margin-bottom: 1%;
    clip-path: polygon(100% 100%, 1% 0%, 100% 0, 100% 100%);
    /* clip-path: polygon(75% 100%, 1% 0%, 100% 0, 100% 100%); */
    /* clip-path: polygon(74% 100%, 1% 0%, 100% 0, 100% 100%, 71% 61%); */
    border: 1px solid #212121;
    /* border-radius: 50% 1%; */
}

.crop-banner-profile img {
    position: absolute;
    /* alter this to move left or right */
    left: 10px;
    /* alter this to move up or down */
    top: -190px;
}

.ads.home .card {
    padding: 0;
    max-height: 300px;
}

.crop-banner-ad {
    height: 299px;
    width: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 0.70rem 0 0 0.70rem;
}

.crop-banner-ad img {
    position: absolute;
    width: 100%;
    /* alter this to move left or right */
    left: 0;
    /* alter this to move up or down */
    top: 0;
}

.campaign-ad-text {
    width: 50%;
    padding: 2rem;
}

.crop-banner-profile.small {
    height: 100px;
    width: 300px;
    clip-path: polygon(100% 71%, 0% 1%, 0% 100%, 100% 100%, 0% 1%);
}

.wishlist-heading {
    margin-top: -20.5%;
}

.button.add-gift {
    width: 30%;
}

.flex.icon-group {
    justify-content: flex-end;
}


/* .crop-banner img {
    left: -70px;
    position: absolute;
    top: -100px;
} */

.img-profile-banner {
    width: 1000px;
}

hr.profile-hr {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}


/* .profile-summary {
    padding: 0.75rem 0;
} */

.biography {
    padding-top: 0.5rem;
}

.search-input {
    border: 1px solid #C5CAE9;
    margin: 10px 0;
    padding: 8px 16px;
    line-height: 15px;
}

.search-input {
    /* border-radius: 10px 0 0 10px !important; */
    width: 30%;
}

input[type='submit'].search-button {
    background: url('/icons/icon-search-grey-36-m.png') no-repeat center #fff;
    background-size: 27px;
    width: 30px;
    height: 30px;
    border: none;
    margin-left: -40px;
    /* To hide the text */
    color: transparent;
}

.search-input+.search-button {
    /* border-radius: 0 10px 10px 0 !important; */
    width: 11%;
    padding: 0;
}

.profile-info {
    padding-bottom: 3%;
}

.profile-wishlist {
    padding-left: 5%;
}


/* .icon.profile-settings {
    margin: 5px 10px;
} */


/* .icon-container .icon.profile-settings {
    margin: 15px 10px 0 10px;
} */

h1+.icon-container .icon {
    margin: 15px 10px 0 10px;
}

h1+.icon-container+.icon-container .icon {
    margin: 15px 10px 0 0;
}

.card {
    padding: 2%;
    margin: 0.5rem 0 0.75rem 0;
    box-shadow: 0 2px 6px 0 #EEEEEE, 0 2px 15px 0 #E0E0E0;
    overflow: hidden;
    /* margin: 0.5% 0;
    box-shadow: 0 2px 2px 0 #EEEEEE, 0 2px 2px 0 #E0E0E0; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

section.intro {
    padding-left: 1% !important;
    padding-right: 1% !important;
}

.button {
    display: inline-block;
    background: #9FA8DA;
    /* background: #C5CAE9; */
    color: white !important;
    border: 1px solid #9FA8DA;
    margin: 0 10px 10px 0;
    padding: 0.5rem 2rem;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}

.nav-link.active {
    border-bottom: 3px solid #9FA8DA;
    padding-bottom: -20px;
    margin-bottom: -7px;
}

.button:focus,
.button:hover,
input[type='submit']:focus,
input[type='submit']:hover,
.panel-heading:hover {
    background-color: #7986CB;
    /* background-color: #9FA8DA;
    background: #C5CAE9; */
}

.button[disabled] {
    background-color: #C5CAE9;
}

input[type='submit'].icon:hover,
input[type='submit'].icon:focus {
    background-color: transparent;
}

.panel-heading,
.button,
.card,
.campaign-ad.wrapper,
input,
textarea {
    border-radius: 0.50rem !important;
    /* border-radius: 0.70rem !important; */
}

.reserved-label {
    margin: 0 10px 10px 0;
    padding: 0.5rem 2rem;
    text-align: center;
    line-height: 15px;
    font-style: italic;
}

.full-width {
    width: 100%;
    min-width: 100%;
}

.icon:hover {
    box-shadow: 0 0 0.5rem #C5CAE9 !important;
    /* box-shadow: 0 2px 2px 0 #C5CAE9, 0 2px 2px 0 #C5CAE9; */
    border-color: #9FA8DA !important;
    border-radius: 50%;
}

.no-hover.icon:hover {
    box-shadow: none !important;
    border-color: none !important;
    border-radius: 100% !important;
}

.reserved-actions {
    margin: 0 25px 0 0;
}

.archived-actions-wrap {
    justify-content: flex-end;
}

.archived-actions {
    flex-shrink: 0;
}

.archive-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cards-wrapper {
    padding: 2% 0;
}

.my-archived-gifts {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.my-given-gifts,
.my-received-gifts {
    width: 50%;
}

@media only screen and (max-width: 1200px) {
    .my-archived-gifts {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .my-given-gifts,
    .my-received-gifts {
        width: 100%;
    }
}

.my-given-gifts {
    padding-right: 2rem;
    margin-right: 2rem;
}

.my-pending-gifts {
    margin-bottom: 2rem;
    border: 1px solid #e57373;
}

button.button,
input.button {
    padding: 11px 28px;
}

.form-group.form-check {
    display: flex;
    align-items: center;
    justify-content: start;
}

.form-group.form-check label {
    padding: 0 0.6rem;
}

input {
    color: #616161;
}

input[type='text']:focus,
input[type='date']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='password']:focus,
textarea:focus,
input[type='text']:hover,
input[type='date']:hover,
input[type='number']:hover,
input[type='email']:hover,
input[type='password']:hover,
textarea:hover {
    box-shadow: 0 .10rem .25rem #C5CAE9 !important;
    /* box-shadow: 0 2px 2px 0 #C5CAE9, 0 2px 2px 0 #C5CAE9; */
    border-color: #9FA8DA !important;
}

input[disabled]:hover,
input[disabled]:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
}

input[type='checkbox'][disabled],
input[type='radio'][disabled] {
    background: none;
    opacity: 1;
}

input[type='checkbox'][disabled]:hover,
input[type='radio'][disabled]:hover {
    border: 1px solid #ced4da;
}

input[type='checkbox'],
input[type='radio'] {
    -webkit-appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    background: white;
    border-radius: 1px;
    border: 1px solid #ced4da;
    position: relative;
}

input[type='radio'] {
    border-radius: 50% !important;
}

input[type='checkbox'] {
    border-radius: 0.3rem !important;
}

input[type='radio'],
input[type='radio']+label {
    margin-right: 1rem;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
    border: 2px solid #C5CAE9;
}

input[type='checkbox']:hover,
input[type='radio']:hover {
    box-shadow: 0 .10rem .25rem #C5CAE9;
    border: 2px solid #C5CAE9;
}

input[type='checkbox']:checked:before,
input[type='radio']:checked:before {
    content: '✓';
    font-weight: bold;
    display: flex;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding-left: 0.4em;
    color: #7986CB;
}

input[type='radio']:checked:before {
    content: '•';
    position: relative;
    padding-left: 0.20rem;
    top: -21px;
    font-size: 36px;
}

.hidden-removed {
    display: none;
}

.hidden {
    visibility: hidden;
}

.profile-info {
    flex: 1.5;
    max-width: 30%;
}

.profile-pic {
    min-width: 30%;
}

.profile-wishlist {
    flex: 3;
}


/* .button+.button {
    margin: 10px;
} */

.flex.middle {
    align-items: flex-start;
}

.date {
    color: grey;
}

.icon+.icon,
.flex-column+.icon {
    margin: 10px
}

.small-text {
    font-size: 8px;
}

a.button:hover,
a.icon:hover {
    text-decoration: none;
}

.profile-pic {
    /* Remove later */
    /* border: 1px solid black; */
    width: 110px;
    height: 110px;
    margin-right: 15px;
}

.img-profile {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #616161;
}

.profile-pic,
.img-profile {
    border-radius: 50%;
}


/* a.change-info-link {
    text-decoration: none;
    color: #000;
} */

.navbar-nav.account.flex {
    align-items: baseline;
}

.navbar-light .separator {
    display: none;
}

.col-md-4.edit-profile {
    max-width: 100%;
    flex: 100%;
}

.col-md-4.edit-profile .flex-column {
    width: 100%;
    padding-right: 5rem;
}

.col-md-4.edit-profile .flex-column+.flex-column {
    width: 100%;
    padding-right: 0;
}

.one-line {
    display: inline-block;
}

.flex {
    display: flex;
    /* flex-wrap: wrap; */
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.separator {
    margin: 0 5px;
}

.half {
    width: 50%;
}

.full {
    width: 100%;
}

.flex-center {
    justify-self: center;
    align-self: center;
}


/* From backend interface */


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* Sticky footer styles
  -------------------------------------------------- */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
  -------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #FAFAFA;
    color: #616161;
    /* #616161, #424242 */
}

.table td {
    border-top: none !important;
}

table tbody tr {
    border-top: 1px solid #E0E0E0;
}

textarea {
    overflow: hidden;
}

.navbar,
.footer {
    padding: 0.3rem 1rem;
}

.footer {
    line-height: 55px !important;
}

.nav-link {
    padding: 0 1rem;
}

.icon.on,
.icon.off {
    margin: 0;
}

.profile-picture.icon {
    cursor: default;
}

.home-unauthorized .welcome-img {
    width: 60%;
}

table tbody tr:first-of-type {
    border-top: none;
}

.button.homepage {
    background-color: #9FA8DA !important;
}


/* DARK THEME */

body.dark-theme {
    background-color: #212121;
}

body.dark-theme .dropdown-menu {
    border: 1px solid #212121;
}

body.dark-theme .dropdown-divider {
    border-top: 1px solid #212121;
}

body.dark-theme,
body.dark-theme table,
body.dark-theme .navbar .nav-link,
body.dark-theme a.button,
body.dark-theme .panel-heading a,
body.dark-theme table th,
body.dark-theme form label {
    /* color: #BDBDBD !important; */
    color: #E0E0E0 !important;
}

body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme h5,
body.dark-theme h6,
body.dark-theme .heading {
    color: #E0E0E0 !important;
}

body.dark-theme input,
body.dark-theme textarea {
    color: #F5F5F5 !important;
}

body.dark-theme a {
    color: #B39DDB !important;
}

body.dark-theme .navbar {
    border-bottom: 1px solid #616161 !important;
    /* box-shadow: 0 0 4rem black; */
}


/* .card {
    box-shadow: 0 0 .1rem black !important;
} */

body.dark-theme table th {
    border-bottom: 2px solid #616161 !important;
}

body.dark-theme .footer.border-top,
body.dark-theme table tbody tr {
    border-top: 1px solid #616161 !important;
}

body.dark-theme .navbar,
body.dark-theme .dropdown-menu,
body.dark-theme input,
body.dark-theme textarea {
    background: #424242 !important;
}

body.dark-theme .button,
body.dark-theme .button,
body.dark-theme input[type='submit']:not(.search-button) {
    background: #7E57C2 !important;
    border: 1px solid #7E57C2 !important;
}

body.dark-theme .button.homepage {
    background-color: #9575CD !important;
}

body.dark-theme .button:hover,
body.dark-theme .button:focus,
body.dark-theme input[type='submit']:not(.search-button):focus,
body.dark-theme input[type='submit']:not(.search-button):hover {
    background: #9575CD !important;
}

body.dark-theme .search-button {
    background: url('/icons/icon-search-grey-36-m.png') no-repeat center #424242 !important;
    background-size: 27px !important;
    color: transparent !important;
}

body.dark-theme .panel-heading {
    background: #9575CD;
    border: 2px solid #424242;
    margin: 0;
    box-shadow: 0 2px 2px 0 #424242, 0 2px 2px 0 #626262;
    /* box-shadow: 0 2px 2px 0 #616161, 0 2px 2px 0 #424242; */
}

body.dark-theme .card {
    box-shadow: none;
    /* border: 1px solid #616161; */
    /* box-shadow: 0 1px 2px 0 #616161, 0 2px 2px 0 #424242; */
    background-color: #424242;
}

body.dark-theme .form-control,
body.dark-theme input[type='text'],
body.dark-theme input[type='email'],
body.dark-theme input[type='password'],
body.dark-theme input[type='number'],
body.dark-theme input[type='date'],
body.dark-theme input[type='radio'],
body.dark-theme input[type='checkbox'],
body.dark-theme textarea {
    border: 1px solid #424242;
}

body.dark-theme input[type='text']:focus,
body.dark-theme input[type='date']:focus,
body.dark-theme input[type='number']:focus,
body.dark-theme input[type='email']:focus,
body.dark-theme input[type='password']:focus,
body.dark-theme textarea:focus,
body.dark-theme input[type='text']:hover,
body.dark-theme input[type='date']:hover,
body.dark-theme input[type='number']:hover,
body.dark-theme input[type='email']:hover,
body.dark-theme input[type='password']:hover,
body.dark-theme textarea:hover,
body.dark-theme input[type='checkbox']:hover,
body.dark-theme input[type='radio']:hover,
body.dark-theme input[type='checkbox']:checked,
body.dark-theme input[type='radio']:checked {
    box-shadow: 0 0 .5rem #9575CD !important;
    /* box-shadow: 0 2px 2px 0 #C5CAE9, 0 2px 2px 0 #C5CAE9; */
    border: 1px solid #9575CD !important;
    color: #F5F5F5;
}

body.dark-theme input[disabled],
body.dark-theme input[disabled]:hover {
    box-shadow: inset 0px 0px 20px 5px #212121 !important;
    border: none !important;
    color: #616161 !important;
}

body.dark-theme input::placeholder,
body.dark-theme textarea::placeholder {
    color: #757575 !important;
}

body.dark-theme input[type='radio']:checked:before {
    padding-left: 0.26rem;
    top: -20.5px;
}

body.dark-theme table tbody tr:first-of-type {
    border-top: none !important;
}


/* OTHER */

table {
    color: #616161 !important;
    /* #616161, #424242 */
}

.table thead th {
    border-top: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
}

.profile.other .wishlist-heading {
    margin-top: -15.5%;
    padding-bottom: 2rem;
}


/* .profile.other .wishlist-heading {
    font-size: 2rem;
} */


/* table tbody:first-child {
    border-top: none !important;
} */


/* body {
    padding-top: 5rem;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.pl-3, .px-3 {
    padding-left: 0 !important;
}

.add.btn {
    width: 30%;
}

.card-body {
    padding: 0;
} */


/* css from https://bbbootstrap.com/snippets/awesome-todo-list-template-25095891 */


/* body {
    background-color: #f9f9fa;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none
}

.pl-3,
.px-3 {
    padding-left: 1rem !important
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 0
}

.pr-3,
.px-3 {
    padding-right: 1rem !important
}

.card .card-body {
    padding: 1.25rem 1.75rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.card .card-title {
    color: #000000;
    margin-bottom: 0.625rem;
    text-transform: capitalize;
    font-size: 0.875rem;
    font-weight: 500
}

.add-items {
    margin-bottom: 1.5rem;
    overflow: hidden
}

.d-flex {
    display: flex !important
}

.add-items input[type="text"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    background: transparent
}

.form-control {
    border: 1px solid #f3f3f3;
    font-weight: 400;
    font-size: 0.875rem
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.875rem 1.375rem;
    font-size: 1rem;
    line-height: 1;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

.add-items .btn {
    margin-left: .5rem
}

.btn {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 400;
    padding: .7rem 1.5rem;
    border-radius: 0.1275rem
}

.list-wrapper {
    height: 100%;
    max-height: 100%
}

.add-items {
    margin-bottom: 1.5rem;
    overflow: hidden
}

.add-items input[type="text"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    background: transparent
}

.add-items .btn,
.add-items .fc button,
.fc .add-items button,
.add-items .ajax-upload-dragdrop .ajax-file-upload,
.ajax-upload-dragdrop .add-items .ajax-file-upload,
.add-items .swal2-modal .swal2-buttonswrapper .swal2-styled,
.swal2-modal .swal2-buttonswrapper .add-items .swal2-styled,
.add-items .wizard>.actions a,
.wizard>.actions .add-items a {
    margin-left: .5rem
}

.rtl .add-items .btn,
.rtl .add-items .fc button,
.fc .rtl .add-items button,
.rtl .add-items .ajax-upload-dragdrop .ajax-file-upload,
.ajax-upload-dragdrop .rtl .add-items .ajax-file-upload,
.rtl .add-items .swal2-modal .swal2-buttonswrapper .swal2-styled,
.swal2-modal .swal2-buttonswrapper .rtl .add-items .swal2-styled,
.rtl .add-items .wizard>.actions a,
.wizard>.actions .rtl .add-items a {
    margin-left: auto;
    margin-right: .5rem
}

.list-wrapper {
    height: 100%;
    max-height: 100%
}

.list-wrapper ul {
    padding: 0;
    text-align: left;
    list-style: none;
    margin-bottom: 0
}

.list-wrapper ul li {
    font-size: .9375rem;
    padding: .4rem 0;
    border-bottom: 1px solid #f3f3f3
}

.list-wrapper ul li:first-child {
    border-bottom: none
}

.list-wrapper ul li .form-check {
    max-width: 90%;
    margin-top: .25rem;
    margin-bottom: .25rem
}

.list-wrapper ul li .form-check label:hover {
    cursor: pointer
}

.list-wrapper input[type="checkbox"] {
    margin-right: 15px
}

.list-wrapper .remove {
    cursor: pointer;
    font-size: 1.438rem;
    font-weight: 600;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 20px;
    text-align: center
}

.list-wrapper .completed {
    text-decoration: line-through;
    text-decoration-color: #3da5f4
}

.list-wrapper ul li .form-check {
    max-width: 90%;
    margin-top: .25rem;
    margin-bottom: .25rem
}

.list-wrapper ul li .form-check,
.list-wrapper ul li .form-check .form-check-label,
.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user .u-name,
.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user .u-designation,
.email-wrapper .mail-list-container .mail-list .content .sender-name,
.email-wrapper .message-body .attachments-sections ul li .details p.file-name,
.settings-panel .chat-list .list .info p {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap
}

.form-check {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0
}

.list-wrapper ul li .form-check,
.list-wrapper ul li .form-check .form-check-label,
.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user .u-name,
.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user .u-designation,
.email-wrapper .mail-list-container .mail-list .content .sender-name,
.email-wrapper .message-body .attachments-sections ul li .details p.file-name,
.settings-panel .chat-list .list .info p {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap
}

.form-check .form-check-label {
    min-height: 18px;
    display: block;
    margin-left: 1.75rem;
    font-size: 0.875rem;
    line-height: 1.5
}

.form-check-label {
    margin-bottom: 0
}

.list-wrapper input[type="checkbox"] {
    margin-right: 15px
}

.form-check .form-check-label input {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0)
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0
}

.list-wrapper ul li .form-check,
.list-wrapper ul li .form-check .form-check-label,
.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user .u-name,
.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user .u-designation,
.email-wrapper .mail-list-container .mail-list .content .sender-name,
.email-wrapper .message-body .attachments-sections ul li .details p.file-name,
.settings-panel .chat-list .list .info p {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap
}

.form-check .form-check-label input[type="checkbox"]+.input-helper:before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: solid #405189;
    border-width: 2px;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms
}

.form-check .form-check-label input[type="checkbox"]+.input-helper:before,
.form-check .form-check-label input[type="checkbox"]+.input-helper:after {
    position: absolute;
    top: 0;
    left: 0
}

.form-check .form-check-label input[type="checkbox"]+.input-helper:after {
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    font-family: Material Design Icons;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    content: '\F12C';
    font-size: .9375rem;
    font-weight: bold;
    color: #ffffff
}

.form-check .form-check-label input[type="checkbox"]+.input-helper:before,
.form-check .form-check-label input[type="checkbox"]+.input-helper:after {
    position: absolute;
    top: 0;
    left: 0
}

.form-check .form-check-label input[type="checkbox"]:checked+.input-helper:before {
    background: #405189;
    border-width: 0
}

.form-check .form-check-label input[type="checkbox"]+.input-helper:before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: solid #405189;
    border-width: 2px;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms
}

.form-check .form-check-label input[type="checkbox"]+.input-helper:after {
    font-family: FontAwesome;
    content: "\f095";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    color: #fff
}

.text-primary,
.list-wrapper .completed .remove {
    color: #405189 !important
}

.list-wrapper .remove {
    cursor: pointer;
    font-size: 1.438rem;
    font-weight: 600;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 20px;
    text-align: center
}

.ml-auto,
.list-wrapper .remove,
.mx-auto {
    margin-left: auto !important
}

.mdi-close-circle-outline:before {
    content: "\F15A"
}

.list-wrapper ul li {
    font-size: .9375rem;
    padding: .4rem 0;
    border-bottom: 1px solid #f3f3f3
}

.mdi:before {
    font-family: FontAwesome;
    content: "\f00d";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-size: .756em;
    color: #405189
}

.list-wrapper ul {
    padding: 0;
    text-align: left;
    list-style: none;
    margin-bottom: 0
}

.flex-column-reverse {
    flex-direction: column-reverse !important
}

.d-flex,
.loader-demo-box,
.distribution-chart-legend .distribution-chart,
.distribution-chart-legend .distribution-chart .item,
.list-wrapper ul li,
.email-wrapper .mail-sidebar .menu-bar .profile-list-item a,
.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user,
.email-wrapper .mail-list-container .mail-list .details,
.email-wrapper .message-body .attachments-sections ul li .thumb,
.email-wrapper .message-body .attachments-sections ul li .details .buttons,
.lightGallery .image-tile .demo-gallery-poster,
.swal2-modal,
.navbar .navbar-menu-wrapper .navbar-nav,
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile,
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
    display: flex !important
} */
